/* .name to define css of classes */
.flex-container {
    /* to use flexbox, must have the display:flex line */
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    align-items: center;
     margin-right: 5%; 
     margin-left: 5%; 

}
.flex-cont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%; 
    margin-bottom: 5%;
}

/*stuff i just added  */

body {
    font-family: "Poppins", sans-serif;
    background-color:  #563c14;
    /*text-align: center; /*this is where I added to center for buttons*/
    /* text-align: center; */
}

.center {
    display: flex;
    /* margin-left: auto; */
    /* margin-right: auto; */
    align-items: center;
}

.gallery {
    color:rgb(255, 255, 255);
    flex-direction: column;
}

.about{
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 5%;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 50%; */
    
}


.navlist {
    display: flex;
    margin-right: 2em;
}
.navlist {
    flex-direction: row;
    padding: em 0;
    position: absolute;
    left: 58%;
    top: 3em;
    font-size: 1.30rem;
}

.navlist2 {
    display: flex;
    margin-right: 2em;
}
.navlist2 { 
    flex-direction: row;
    padding: em 0;
    position: absolute;
    right: 58%;
    top: 3em;
    font-size: 1.30rem;
    /*margin-right: 4em;*/
}

.navlistitem2 {
    /* makes the margins between one item from the other like space in between larger */
    margin-left: 1.5em; 
}

.navlistitem {
    margin-left: 1.5em;
}


h1 {
    font-size: 4rem;
    color:  white;
}


.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
    min-height: 200px;
}

.flexbox-item-1 {
    min-height: 200px;
}
.flexbox-item-2 {
    min-height: 200px;
}
.flexbox-item-3 {
    min-height: 200px;
}

.section{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;
}
.sectiontitle {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 1em;
    margin-top: 2em;
    text-transform: capitalize;
    font-size: 2rem;
}

.sectionitem{
    display: flex;
    flex-direction: column;
}


.contact {
    flex-direction: column;
}

/*stuff i just added  */


/* .popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 25%;
    left: 31%; 
    translate: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}

.popup img{
    width: 20;
    margin-top: -100px;
    border-radius: 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

} */
/* 
.img1 {
    width: 200;
    margin-top: -100px;
    border-radius: 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

} */


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ncontainer{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
    justify-content: center;
}

.btn-1{
    margin: 0 50px;
    cursor: pointer;
    height: 80px;
    width: 200px;
    border-color: black;
    color:rgb(255, 255, 255);
    background-color: rgb(105, 156, 123);
    border-radius: 5px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
}

.btn-1:hover{
    box-shadow: inset 300px 0 0 0 rgb(54, 103, 80);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.btn-2{
    margin: 0 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    border: px;
    border-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    background-color: rgb(92, 161, 109);
    border-radius:5px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}

.btn-2:hover{
    box-shadow: inset 300px 0 0 0 rgb(36, 69, 61);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.btn-3{
    margin: 5 0px;
    margin-top: 24px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    background-color: rgb(92, 161, 109);
    border-radius:5px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}

.btn-3:hover{
    box-shadow: inset 300px 0 0 0 rgb(36, 69, 61);
    cursor: pointer;
    color: rgb(255, 255, 255);
}


.btn-4{
    margin: 0 5px;
    margin-top: 24px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    background-color: rgb(92, 161, 109);
    border-radius:5px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}

.btn-4:hover{
    box-shadow: inset 300px 0 0 0 rgb(36, 69, 61);
    cursor: pointer;
    color: rgb(255, 255, 255);
}


.form {
    margin: 15px;
}

ul{
    list-style: none;
}

.image {
    display:flex;
    flex-wrap:wrap;
    border-radius: 8px;
    width: 300px;
    height: 250px;
}

.fullimage {
    display:flex;
    flex-wrap:wrap;
    border-radius: 8px;
    width: auto;
    height: auto;
}

.button {
    cursor: pointer;
    background-color: aliceblue;
    outline: black;
    width:10vw;
    margin: 20px;
}

.text{
    color:rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;;
    font-size: 1.8rem;
    flex-direction: column;
    text-decoration: underline;
}

#name to define css of ids
#iframe {
    width:50vw;
}

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.bodygame {
    height: 100vh;
    display: flex;
    /* flex allows us to use any flex attricbutes on teh stuff inside body */
    background-color: #563c14;
    margin-top: 1%;

}



.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    margin-top: 10%;
    /* margin-bottom: 30%; */
    display: flex; 
    /* flex has default conditions that we probably need to rest, look up defaults.  */
    flex-wrap: wrap;
    border: 2px solid tan;
    perspective:1000px ;
    /* margin: 0 5; */
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    /* ^means that the child class will be positioned relative to this memory card class */
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

  .memory-card.flip{
    /* when flip class is present then we rotate */
    transform: rotateY(180deg);

  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 7px;
    position: absolute;
    border-radius: 5px;
    background: #b59034;
    backface-visibility: hidden;
  }

  .front-face{
    transform: rotateY(180deg);
  }
 

  
/* img {
    width: 100px;

} */

.container2{
    /* width:100%; */
    /* height:100vh; */
    /* background: #3c5077; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.popup{
    display:block;
     /* margin-left: auto;
    margin-right: auto;  */
    width: 600px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%; 
    /* ^^^THIS IS WHAT MOVED IT  */
    /* margin: auto; */
    /* margin-left: auto;
    margin-right: auto; */
     /* left: auto;  
     right: auto;   */
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s ;
    z-index: 100;
    border:4px solid black;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
} 


.img1 {
    width: 200px;
    margin-top: -600px;
    border-radius: 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border:4px solid black;
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    /* padding: 10px 60px;
    background: #ffff;
    border:0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px; */
    width: 100%;
    margin-top: 100px;
    padding: 10px 0;
    background:rgb(36, 69, 61);
    color: #dfdfdf;
    border:2px solid black;
    outline: none;
    font-size:18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


/* 
.img1 {
    width: 200;
    margin-top: -100px;
    border-radius: 2%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

} */








